*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100%;
    width: 100%;
}

                        /* heading */
.first
{
    display: flex;
    justify-content: space-between;
    background-color: #BFACAA;
}

.logo-img
{
    height: 6.5rem;
    margin: 0rem 5rem;
    cursor: pointer;
}

.logo:hover
{
    transform: perspective(200px) translatez(50px);
}

.hamburger
{
    display: none;
}

nav
{
    display: flex;
    align-items: center;
    margin-right: 7rem;
}
 
nav a
{
    text-decoration: none;
    margin: 0rem 2.5rem;
    font-size: 1.4rem;
    color:#02020A;
    font-weight: bold;
    text-transform: capitalize;
}

nav a:hover
{
    font-size: 1.8rem;
    color: #660708;
    text-decoration: underline;
}


                     /* hero section */
.hero
{
    background-color: #03071E;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.hero-first
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.text
{
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin-top: 50px;
  position: absolute;
  top:0%;
  left: 2%;
  z-index: 20;

  opacity: 0; 
  animation: reveal 2s ease-out forwards
  
 
}

.text h1, .text h2
{
    font-size: 4rem;
    font-weight: 600;
    color: #E1E2EF;
    
}
.text span
{
    font-size: 7rem;
    font-weight: bolder;
    color: #B497D6;
}

.profile
{
    cursor: pointer; 
    position: relative;
    left: 25%;
}

.profile-pic
{
    border-radius: 50%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; 
}

.hover-pic
{
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    z-index: 0;
    border-radius: 50%;
}

.profile:hover .hover-pic
{
    opacity: 1;
}


.hero-second
{
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.hero-second h2
{
    margin-left: 2.8rem;
    font-size: 2rem;
    color: #E1E2EF;
    animation: reveal 2s ease-out forwards
}

.coding-pic
{
    height: 60vh;
    width:35vw ;
    border-radius: 50%;

    animation: spin 3s linear infinite forwards;
}

@keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(30px); /* Start slightly below its final position */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Move to its original position */
    }
}


@keyframes spin 
{
    from
    {
        transform: rotateY(0deg);
    }    
    to 
    {
        transform: rotateY(360deg);
    }
}


                        /*My work */

#my-work
{
    padding: 2rem 0rem;
}


.heading
{
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 4.5rem;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#03071E;

}

.projects
{
    background-color: #02020A;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 0.20fr 1fr;
    gap: 1.2rem;
    padding: 0rem 0.8rem;
 
}

.box
{
    background-color: orange;
    font-size: 4rem;
    cursor: pointer;
    position: relative;

    
    opacity: 0; /* Start fully transparent */
    transform: translateX(-60px); /* Start slightly off-screen to the left */
    animation: fadeInFromLeft 2s ease-out forwards;
}

@keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-60px); /* Off-screen position */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Final position */
    }
}

.box1
{
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blue;
}

.box6
{
    grid-column-start: 2;
    grid-column-end: 4; 
    grid-row-start:3;
    grid-row-end:5;
    background-color: red;

}

.box7
{
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: green;
}
.hidden
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #E1E2EF;
    opacity: 0;
    transition: all 1s linear;
}

.box:hover .hidden
{
    opacity: 1;
    background-color: #02020a77;
}

.website-pic
{
    height: 100%;
    width: 100%;
    object-fit:fill;
}



                        /*About me  */

.about
{

    background-color: #03071E;
}


.about-me-profile1
{
    display: flex;
    position: relative;
    justify-content: space-between;
}


.code
{
    opacity: 0; /* Start fully transparent */
    transform: translateX(50px); /* Start slightly off-screen to the right */
    animation: fadeInFromRight 2s ease-out forwards; /* Apply animation */

}

.about-me-pic1
{
    border-radius: 15px;
    margin-right: 5vw;
    margin-top: 15vh;
    box-shadow: 0px 0px 10px 10px #E1E2EF; 
    cursor: pointer;
}

.code pre
{
    font-size: 1.5rem;
    position: relative;
    top:10%;
    left: 0%;
    font-weight: 600;    
    color: whitesmoke;
    z-index: 200;
}
.keyword
{
    color: #B497D6
}
.func-name
{
    color: #FDCA40;
}
.comment
{
    color: grey;
}
.red 
{
    color: #BA0C0C;
}
.lime
{
    color: #06D6A0;
}
.val
{
    color: #27A300;
}
.dob
{
    color: coral;
}

.about-me-profile2
{
    padding: 10rem 0rem;
    display: flex;
    justify-content: space-around;
    
}

.about-me-pic2
{
    height: 70vh;
    transform: skew(5deg);
    box-shadow: 0px 0px 10px 10px #E1E2EF; 
    cursor: pointer;
}
.pera
{
    color:#E1E2EF; 

    opacity: 0; /* Start fully transparent */
    transform: translateX(50px); /* Start slightly off-screen to the right */
    animation: fadeInFromRight 2s ease-out forwards; /* Apply animation */
    
}
.pera h2
{
    color: #B497D6;
    font-size: 7rem;
    text-decoration: underline;
}
.pera ul
{
    margin-top: 3rem;
    justify-self: center;
}
.pera ul li
{
    font-size: 2.5rem;
    margin: 0.5rem 0rem;
}

@keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(60px); /* Off-screen position */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Final position */
    }
}



                            /* footer */

footer
{
    padding: 5rem 0rem;
    background-color: #BFACAA;
}
.footer1
{

    display: flex;
    justify-content: space-evenly;
}

.footer1 h2
{
    font-size: 2rem;
    text-decoration: underline;
}

.footer1 h3
{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.form-heading
{
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    padding: 2rem 0rem;
}

.footer2
{
    display: flex;
    justify-content: center;
}

input:focus,
textarea:focus 
{
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
  border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

::placeholder
{
    color: #888;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
}


            /* resposnive */

@media(min-width:665px) and (max-width:780px)
{


            /* navbar */
.logo-img
{
    height: 5rem;
}

nav
{
    margin-right: 4rem;
}

nav a
{
    font-size: 1.2rem;
    margin: 0rem 1.5rem;
}


        /* hero section */
.text h1, .text h2
{
    font-size: 1.7rem;
}
.text span
{
    font-size: 3.2rem;
}
.profile
{
    left:25%;
}

.profile-pic
{
    height: 45vh;
}
.hover-pic
{
    height: 45vh;
}

.hero-second h2
{
    font-size: 1.7rem;
}
.coding-pic
{
    height: 48vh;
}
                    /* my-work */

.heading
{
    font-size: 3.2rem;
}


.box
{
    font-size: 2rem;
}
                    /* about-me */
.code
{
    z-index: 200;
}
.code pre
{
    font-size: 1rem;
    font-weight: bolder;
}

.about-me-pic1
{
    position: absolute;
    top:0%;
    right: 0%;
    height: 35vh;
    margin-right: 5vw;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px #E1E2EF; 
}

.about-me-profile2
{
    padding: 5rem 0rem;
}

.about-me-pic2
{
    height:40vh ;
}

                /* footer */

.pera h2
{
    font-size: 3rem;
}



.pera ul li
{
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
}

.footer1 h2
{
    font-size: 1.5rem;
}
.footer1 h3
{
    font-size: 1rem;
}

.form-heading
{
    font-size: 2rem;
}
label
{
    font-size: 1.2rem;
}

::placeholder
{
    font-size: 15px;
}


}

@media(min-width:430px) and (max-width:665px)
{
                    /* navbar */

    
    .logo-img
    {
        height: 4rem;
    }
    .logo-img:hover
    {
        height: 4.5rem;
    }

   
    .nav-container
    {
        position: relative;
        width: 100%;
        max-width: 400px;
    }
  
                /* Hamburger Button */
    .hamburger 
    {
        display: none;
    }
  
    .hamburger-label
    {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 25px;
        position: relative;
      }
  
      /* Hamburger Lines */
      .hamburger-label span 
    {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #333;
        transition: all 0.3s ease;
        border-radius: 2px;
        margin-bottom: 10rem;
    }
  
    .hamburger-label span:nth-child(1)
    {
        top: 0;
    }
  
    .hamburger-label span:nth-child(2)
    {
        top: 10px;
    }
  
    .hamburger-label span:nth-child(3) 
    {
        top: 20px;
    }
 
    .nav-menu 
    {
        display: none;
        /* background-color: #fff; */
        position: relative;
        top: 5px;
        left: 0;
        left: 0;
    }
  
    .nav-menu a 
    {
        display: block;
        padding: 10px 0px;
        text-decoration: none;
        color:#02020A;
        border-bottom: 1px solid #eee;
    }
  
    .nav-menu a:last-child 
    {
        /* border-bottom: none; */
        margin-bottom: 50px;
    }
  
    .nav-menu a:hover 
    {
        color: #660708;
    }
  
      /* Toggle Hamburger Menu */
    .hamburger:checked + .hamburger-label span:nth-child(1)
    {
        transform: rotate(45deg);
        top: 30px;
        left: 150px;
    }
  
    .hamburger:checked + .hamburger-label span:nth-child(2)
    {
        opacity: 0;
    }
  
    .hamburger:checked + .hamburger-label span:nth-child(3) 
    {
        transform: rotate(-45deg);
        top: 30px;
        left: 150px;
    }
  
    .hamburger:checked ~ .nav-menu 
    {
        display: block;
        transform: rotatey(180deg);
    }

    .hamburger:checked ~.nav-menu a
    {
        transform: rotatey(180deg);
    }



                /* hero section */

    .hero
    {
        padding-top: 3rem;
    }
    .hero-second
    {
    padding-top: 3rem;
    }
    .text h1, .text h2
    {
        font-size: 1.5rem;
    }
    .text span
    {
        font-size: 2.3rem;
    }
    .profile
    {
        left:20%;
    }

    .profile-pic
    {
        height: 35vh;
    }
    .hover-pic
    {
        height: 35vh;
    }

    .hero-second h2
    {
        margin-left:1rem ;
        font-size: 1.3rem;
    }
    .coding-pic
    {
        height: 44vh;
    }

                       /* my-work */

    .heading
    {
        font-size: 2.5rem;
    }


    .box
    {
        font-size: 1.3rem;
    }
                        /* about-me */
    .code
    {
        z-index: 200;
    }
    .code pre
    {
        font-size: 0.7rem;
        font-weight: bolder;
    }

    .about-me-pic1
    {
        position: absolute;
        top:0%;
        right: 0%;
        height: 30vh;
        margin-right: 9vw;
        z-index: 1;
        box-shadow: 0px 0px 10px 5px #E1E2EF; 
    }

    .about-me-profile2
    {
        padding: 5rem 0rem;
    }

    .about-me-pic2
    {
        margin-top: 5.5rem;
        height:30vh ;
    }

    
    .pera h2
    {
        font-size: 2.2rem;
    }
    
    
    
    .pera ul li
    {
        font-size: 1.2rem;
        margin: 0.5rem 0rem;
    }
                    /* footer */
    
    .footer1 h2
    {
        font-size: 1.5rem;
    }
    .footer1 h3
    {
        font-size: 1rem;
    }

    .form-heading
    {
        font-size: 1.7rem;
    }
    label
    {
        font-size: 1.2rem;
    }

    ::placeholder
    {
        font-size: 15px;
    }
    
    button 
    {
        margin-left: 30px;
        width: 80%;
    }
  
  
}

@media(min-width:380px) and (max-width:430px)
{
                     /* navbar */
    nav
    {
        margin-right: 30px;
    }
    .logo-img
    {
        height: 4rem;
    }
    .logo-img:hover
    {
        height: 4.5rem;
    }

   
    .nav-container
    {
        position: relative;
        width: 100%;
        max-width: 400px;
    }
  
                /* Hamburger Button */
    .hamburger 
    {
        display: none;
    }
  
    .hamburger-label
    {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 25px;
        position: relative;
      }
  
      /* Hamburger Lines */
      .hamburger-label span 
    {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #333;
        transition: all 0.3s ease;
        border-radius: 2px;
        margin-bottom: 10rem;
    }
  
    .hamburger-label span:nth-child(1)
    {
        top: 0;
    }
  
    .hamburger-label span:nth-child(2)
    {
        top: 10px;
    }
  
    .hamburger-label span:nth-child(3) 
    {
        top: 20px;
    }
 
    .nav-menu 
    {
        display: none;
        /* background-color: #fff; */
        position: relative;
        top: 5px;
        left: 0;
        left: 0;
    }
  
    .nav-menu a 
    {
        display: block;
        padding: 10px 0px;
        text-decoration: none;
        color:#02020A;
        border-bottom: 1px solid #eee;
    }
  
    .nav-menu a:last-child 
    {
        /* border-bottom: none; */
        margin-bottom: 30px;
    }
  
    .nav-menu a:hover 
    {
        color: #660708;
    }
  
      /* Toggle Hamburger Menu */
    .hamburger:checked + .hamburger-label span:nth-child(1)
    {
        transform: rotate(45deg);
        top: 0px;
        left: 50px;
    }
  
    .hamburger:checked + .hamburger-label span:nth-child(2)
    {
        opacity: 0;
    }
  
    .hamburger:checked + .hamburger-label span:nth-child(3) 
    {
        transform: rotate(-45deg);
        top: 0px;
        left: 50px;
    }
  
    .hamburger:checked ~ .nav-menu 
    {
        display: block;
        transform: rotatey(180deg);
    }

    .hamburger:checked ~.nav-menu a
    {
        transform: rotatey(180deg);
    }



                /* hero section */
    .hero
    {
        padding-top: 2rem;
    }
    .hero-second
    {
    padding-top: 2rem;
    }
    .text h1, .text h2
    {
        font-size: 1.2rem;
    }
    .text span
    {
        font-size: 2rem;
    }
    .profile
    {
        left:27%;
    }

    .profile-pic
    {
        height: 25vh;
    }
    .hover-pic
    {
        height: 25vh;
    }

    .hero-second h2
    {
        margin-left:1rem ;
        font-size: 1.2rem;
    }
    .coding-pic
    {
        height: 40vh;
    }

                       /* my-work */

    .heading
    {
        font-size: 2rem;
    }


    .box
    {
        font-size: 1rem;
    }
                        /* about-me */
    .code
    {
        z-index: 200;
    }
    .code pre
    {
        font-size: 0.65rem;
        font-weight: bolder;
    }

    .about-me-pic1
    {
        position: absolute;
        top:0%;
        right: 0%;
        height: 27vh;
        margin-right: 7vw;
        margin-top: 5vh;
        z-index: 1;
        box-shadow: 0px 0px 10px 1px #E1E2EF; 
    }

    .about-me-profile2
    {
        padding: 3rem 0rem;
    }

    
    .about-me-pic2
    {
        margin-top: 3.5rem;
        height:27vh ;
        box-shadow: 0px 0px 10px 1px #E1E2EF;
    }
    
    
    .pera h2
    {
        font-size: 1.8rem;
    }
    
    
    .pera ul
    {
        margin-top: 1.5rem;
        justify-self: center;
    }
    
    .pera ul li
    {
        font-size: 1.2rem;
        margin: 0.5rem 0rem;

    }
                
                    /* footer */
    
    .footer1 h2
    {
        font-size: 1.2rem;
    }
    .footer1 h3
    {
        font-size: 0.9rem;
    }

    .form-heading
    {
        font-size: 1.3rem;
    }
    label
    {
        font-size: 1.1rem;
    }

    ::placeholder
    {
        font-size: 14px;
    }
    
    button 
    {
        margin-left: 30px;
        width: 80%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea 
    {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    }
}

@media(max-width:380px)
{
    /* navbar */
nav
{
margin-right: 30px;
}
.logo-img
{
height: 3.5rem;
}
.logo-img:hover
{
height: 4rem;
}


.nav-container
{
position: relative;
width: 100%;
max-width: 400px;
}

/* Hamburger Button */
.hamburger 
{
display: none;
}

.hamburger-label
{
display: block;
cursor: pointer;
width: 35px;
height: 25px;
position: relative;
}

/* Hamburger Lines */
.hamburger-label span 
{
position: absolute;
width: 100%;
height: 4px;
background-color: #333;
transition: all 0.3s ease;
border-radius: 2px;
margin-bottom: 10rem;
}

.hamburger-label span:nth-child(1)
{
top: 0;
}

.hamburger-label span:nth-child(2)
{
top: 10px;
}

.hamburger-label span:nth-child(3) 
{
top: 20px;
}

.nav-menu 
{
display: none;
/* background-color: #fff; */
position: relative;
top: 5px;
left: 0;
left: 0;
}

.nav-menu a 
{
display: block;
padding: 10px 0px;
text-decoration: none;
color:#02020A;
border-bottom: 1px solid #eee;
}

.nav-menu a:last-child 
{
/* border-bottom: none; */
margin-bottom: 30px;
}

.nav-menu a:hover 
{
color: #660708;
}

/* Toggle Hamburger Menu */
.hamburger:checked + .hamburger-label span:nth-child(1)
{
transform: rotate(45deg);
top: 0px;
left: 50px;
}

.hamburger:checked + .hamburger-label span:nth-child(2)
{
opacity: 0;
}

.hamburger:checked + .hamburger-label span:nth-child(3) 
{
transform: rotate(-45deg);
top: 0px;
left: 50px;
}

.hamburger:checked ~ .nav-menu 
{
display: block;
transform: rotatey(180deg);
}

.hamburger:checked ~.nav-menu a
{
transform: rotatey(180deg);
}



/* hero section */
.hero
{
padding-top: 2rem;
}
.hero-second
{
padding-top: 2rem;
}
.text h1, .text h2
{
font-size: 1rem;
}
.text span
{
font-size: 1.5rem;
}
.profile
{
left:25%;
}

.profile-pic
{
height: 20vh;
}
.hover-pic
{
height: 20vh;
}

.hero-second h2
{
margin-left:0.5rem ;
font-size: 0.9rem;
}
.coding-pic
{
height: 25vh;
}

      /* my-work */

.heading
{
font-size: 1.5rem;
}


.box
{
font-size: 0.8rem;
}
       /* about-me */
.code
{
z-index: 200;
}
.code pre
{
font-size: 0.5rem;
font-weight: bolder;
}

.about-me-pic1
{
position: absolute;
top:0%;
right: 0%;
height: 27vh;
margin-right: 7vw;
margin-top: 5vh;
z-index: 1;
box-shadow: 0px 0px 10px 1px #E1E2EF; 
}

.about-me-profile2
{
padding: 3rem 0rem;
}


.about-me-pic2
{
margin-top: 2.3rem;
height:27vh ;
box-shadow: 0px 0px 10px 1px #E1E2EF;
}


.pera h2
{
font-size: 1.3rem;
}


.pera ul
{
margin-top: 1.5rem;
justify-self: center;
}

.pera ul li
{
font-size: 1rem;
margin: 0.5rem 0rem;

}

   /* footer */

.footer1 h2
{
font-size: 1.2rem;
}
.footer1 h3
{
font-size: 0.9rem;
}

.form-heading
{
font-size: 1.3rem;
}
label
{
font-size: 1.1rem;
}

::placeholder
{
font-size: 14px;
}

button 
{
margin-left: 40px;
width: 70%;
}


}